body {
    background-color: black;
    transition: background-color 0.7s;}
.홈페이지이름{
    margin-top: 90px; font-family: 'Times New Roman', Times, serif;text-align: center;font-size: 90px;background: linear-gradient(to right, #f6f7ea, #fcffe9, #fffcd8, #fff700, #fffcd8, #fcffe9, #f6f7ea);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.image-container {
    position: relative;
    width: 270px;
    height: 270px;
    cursor: pointer;
    overflow: hidden; 
    border-radius: 6%;
    margin: 10px;}
.image-container img {
    width: 100%;
    height: 100%;
    display: block;}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;}
.기능{text-decoration: none;}
.가사검색{display:flex; font-weight:bold; color:yellow; font-size:30px; margin-right:15px;}
.인풋상자{padding-left:10px; border-radius: 5px; font-family: 'Noto Sans KR', sans-serif; width:200px;color:rgb(0, 0, 0);font-weight:bold; font-size: 29px; border: none ;background-color: rgb(255, 242, 64);}
.버튼{position:relative; right:35px; color:black;font-size:1.8em;}
.배경색버튼{margin-top:-1px;font-size:29px; margin-right:35px}
.참고{color:yellowgreen; font-size: 18px; text-align:center;}
.리스트{color:white; font-size:20px; background-color: rgba(36, 36, 36, 1);overflow: hidden;border-radius: 6%;padding-left:28px;padding-right:6px;}
.리스트항목{padding-left:3px;padding-right:4px;border-radius: 6%;}
.줄기능{display: flex;justify-content: center;align-items: center;}
.사진1-1{font-weight:bold; font-size: 26px; color: red}
.사진1-2{font-weight:bold; font-size: 26px; color: blue;}
.사진1-3{font-weight:bold; font-size: 26px; color: rgb(4, 195, 8);}
.사진1-4{font-weight:bold; font-size: 26px; color: rgb(194, 194, 0);}
.사진2-1{font-weight:bold; font-size: 26px; color: white;}
.사진2-2{font-weight:bold; font-size: 26px; color: rgb(255, 255, 255);}
.사진2-3{font-weight:bold; font-size: 26px; color: rgb(255, 255, 255);}
.사진3-2{font-weight:bold; font-size: 26px; color: white;}
.사진3-3{font-weight:bold; font-size: 26px; color: rgb(255, 255, 255);}
.사진3-3{font-weight:bold; font-size: 26px; color: rgb(255, 255, 255);}
.사진3-4{font-weight:bold; font-size: 26px; color: rgb(255, 255, 255);}
.사진3-5{font-weight:bold; font-size: 26px; color: rgb(255, 255, 255);}